.carousel {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 100%;
    max-width: max-content;
    height: 25vh;
}

.carousel-button {
    display: flex;
    align-items: center;
    color: #00C08B;
    padding: 8px; /* Añadir padding para mejorar la accesibilidad en pantallas táctiles */
}

.carousel-content {
    display: inline-flex;
    width: 100%;
    height: max-content;
    padding: 8px 16px;
    text-align: start;
}
