.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    height: fit-content;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: #fafafa;
    background-color: hsla(120, 0%, 11%, 1);
    background-image:
        radial-gradient(at 65% 42%, hsla(99, 0%, 11%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 59%, hsla(0, 100%, 33%, 0.51) 0px, transparent 50%);

}

.properties {
    padding: 16px 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.properties .info-title, .versus .versus-title {
    font-size: clamp(1.5rem, 4vw, 2rem);
} 

.properties-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.versus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.versus-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.versus-item-desktop {
    display: none;
}

.versus-items-images {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16vw;
    width: auto;
}

.versus-image {
    max-width: 200px;
    width: 20vw;
    height: auto;
}

@media screen and (min-width: 1000px) {
    .properties {
        padding: 16px;
        gap: 32px;
    }

    .properties-items {
        flex-direction: row;
        gap: 40px;
        height: 40vh;
        max-height: 400px;
        align-items: start;
    }

    .versus-items {
        display: none;
    }

    .versus-item-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5vw;
    }

    .info {
        height: 100vh;
        gap: 16px;
        padding: 16px;
    }
}