.landing {
    min-height: 100vh;
    background-color: hsla(322, 0%, 11%, 1);
    background-image:
        radial-gradient(at 74% 53%, hsla(241, 0%, 11%, 1) 0px, transparent 50%),
        radial-gradient(at 87% 28%, hsla(322, 100%, 38%, 0.5) 0px, transparent 50%);
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: clamp(50px, 10vw, 100px);
    gap: 8px;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
}

.landing-title {
    font-size: clamp(1.8rem, 5vw, 4rem);
    padding: 4px 0px;
}

.rating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    padding: 4px 0px;
}

.rating-stars {
    color: #00C08B;
    max-width: 250px;
    width: 100%;
    /* Para que sea responsivo */
}

.rating-text {
    margin: 0;
    max-width: 100%;
    text-align: center;
    font-size: clamp(0.8rem, 3.75vw, 1.5rem);
    /* Ajuste responsivo */
}

.landing-image {
    width: clamp(15rem, 15vw, 25rem);
    padding: 4px 0px;
}

.landing-description {
    display: inline-flex;
    width: auto;
    max-width: 100%;
    text-align: center;
    font-size: clamp(0.8rem, 3.75vw, 1.5rem);
    padding: 0 8px;
}

.landing-image-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: max-content;
}

.landing-image-container-desktop {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 100%;
    display: none;
}

.landing-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 800px;
    gap: 8px;
}

.landing-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 50%;
    height: max-content;
}