@media screen and (min-width: 1000px) {

    .landing {
        gap: 16px;
    }

    .landing-image-container-mobile {
        display: none;
    }

    .landing-image-container-desktop {
        display: flex;
    }

}
