.steps-faqs-container{
    background-color: hsla(120, 0%, 11%, 1);
    background-image:
        radial-gradient(at 30% 31%, hsla(99, 0%, 11%, 1) 0px, transparent 50%),
        radial-gradient(at 96% 57%, hsla(308, 100%, 35%, 0.5) 0px, transparent 50%);
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 8px;
}

.steps-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    max-width: 100%;
}

.steps-title{
    padding: 4px;
}

.steps-title h3, .faqs-title h3{
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.steps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.steps-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
}

.steps .steps-item-icon{
    color: #00C08B;
    font-size: clamp(3rem, 4vw, 5rem);
}

.steps-item-text{
    font-size: clamp(1.1rem, 1.3vw, 2.5rem);
    font-weight: 500;
}

.steps-item-arrow{
    color: #fafafa;
    font-size: clamp(3rem, 3vw, 3rem);
}

.faqs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 100%;
    padding: 4px 0px;
}

.faqs-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.faqs-title .faqs-title-icon{
    color: #00C08B;
    font-size: clamp(3rem, 4vw, 5rem);
}

.faqs-container .faqs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    text-align: center;
}


@media screen and (max-width: 680px) {
    .steps{
        flex-direction: column;
        align-items: center;
    }
    .steps .steps-item-arrow{
        display: none;
    }
}